{% extends "layout.html" %}

{% block body %}



    <div class="container">
    <div class="row">
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}

                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}

            {% endif %}
            {% endwith %}
        </p>
        {% if filename %}
            
            <div>
                
                <img src="{{ url_for('display_image', filename=filename) }}" >
            </div>
            
        {% endif %}

        <h4>Select an image</h4>
        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="file" class="form-control" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Submit" class="btn btn-info">
            </p>
        </form>


    </div>
    </div>

{% endblock %}
