{% extends "layout.html" %}

{% block body %}



    <div class="container">
    <div class="row">
        {% if filename %}
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}

                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}

                {% endif %}
                {% endwith %}
            </p>
            <div>
                
                <img src="{{ url_for('display_image', filename=filename) }}" width="400" height="400" >
            </div>
            
        {% endif %}

        <h4>Select an image</h4>
        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="file" class="form-control" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Submit" class="btn btn-info">
            </p>
        </form>


    </div>
    </div>

{% endblock %}
