<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Animal Detector</title>
        <script>
          console.log("hello");
        </script>
        <style>
          html, body {
            height: 98%;
          }
          
          .center {
            border: 5px solid #FFFF00;
            text-align: center;
          }
        </style>
    </head>
    <body class="center">
        <h3>An image classifier for dog, cat and wild animals.</h3>
        {% block body %}{% endblock %}
    </body>
</html>
